.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--bg-header);
  font-size: 1.2rem;
}

.nav-bar ul {
  display: flex;
  gap: 20px;
}

.nav-logo p {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: #1d2a72;
}

.nav-bar a:hover {
  text-decoration: underline;
}

