/*  - HEADER  */
header {
    background-color: #111;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5%;
}

.about-us h2 {
    font-weight: 200;
    letter-spacing: 10px;
    font-size: 4em;
    margin: 0;
}

.hero-column-right {
    position: relative;
    width: 450px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.moon-container {
    position: relative;
    width: 100%;
    height: 100%;
}

/* > Órbitas */
.circle-border1,
.circle-border2 {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.circle-border1 {
    width: 325px;
    height: 325px;
    border: 0.2px solid #eee;
}

.circle-border2 {
    width: 350px;
    height: 350px;
    border: 1px solid #eee;
}

/* > Luna */
.moon-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: translate(-48%, -49%);
}

/* > Datos posicionados alrededor */
.moon-data {
    position: absolute;
    color: #eee;
    font-size: 14px;
    font-weight: 300;
}

.data1 {
    top: 5%;
    left: 20%;
}

.dot1 {
    color: #eee;
    font-size: 2em;
    position: absolute;
    top: 42%;
    left: 50%;
}

.data2 {
    bottom: 35%;
    left: 20%;
}

.dot2 {
    color: #eee;
    font-size: 2em;
    position: absolute;
    top: -40%;
    left: -38%;
}

.data3 {
    top: 45%;
    right: -5%;
}

.dot3 {
    color: #eee;
    font-size: 2em;
    position: absolute;
    top: -45%;
    left: -20%;
}