:root {
    --background: #522344;
    --color-1: #fcb56d;
    --color-2: #6dfcee;
    --color-3: #fc6dd1;
    --font-white: rgb(255, 255, 255);
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    background: var(--background);
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}